%h1 Listing paintings

%table
  %tr
    %th
    %th
    %th

  - @paintings.each do |painting|
    %tr
      %td= link_to 'Show', painting
      %td= link_to 'Edit', edit_painting_path(painting)
      %td= link_to 'Destroy', painting, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Painting', new_painting_path
